In [2]:
import pandas as pd

In [3]:
# Import assessment xlsx file
# drop first two rows
base_excel = pd.read_excel(
    "assessment.xlsx", sheet_name="Python Instructions", skiprows=2
)

In [4]:
# get first three columns for first dataframe, and 6,7,8 columns for second dataframe
df1 = base_excel.iloc[:, 0:3]
df2 = base_excel.iloc[:, 6:9]

In [5]:
# drop na for both dataframes
df1 = df1.dropna()
df2 = df2.dropna()

In [6]:
# print shape of both dataframes
print(df1.shape)
print(df2.shape)

(2347, 3)
(9, 3)

In [7]:
df2

     Year   Stock A.1   Stock B.1
0  2010.0  711.413921  775.767749
1  2011.0  694.261139  773.146825
2  2012.0  685.000691  769.311958
3  2013.0  662.428021  782.021051
4  2014.0  634.529206  768.210158
5  2015.0  608.767384  769.562901
6  2016.0  596.052016  759.487442
7  2017.0  594.172413  748.291289
8  2018.0  575.679798  726.688752

In [14]:
# rename Stock A.1 to Stock A adn Stock B.1 to Stock B
df2.columns = ["Year", "Stock A", "Stock B"]

In [15]:
df2

     Year     Stock A     Stock B
0  2010.0  711.413921  775.767749
1  2011.0  694.261139  773.146825
2  2012.0  685.000691  769.311958
3  2013.0  662.428021  782.021051
4  2014.0  634.529206  768.210158
5  2015.0  608.767384  769.562901
6  2016.0  596.052016  759.487442
7  2017.0  594.172413  748.291289
8  2018.0  575.679798  726.688752

In [16]:
df2

     Year     Stock A     Stock B
0  2010.0  711.413921  775.767749
1  2011.0  694.261139  773.146825
2  2012.0  685.000691  769.311958
3  2013.0  662.428021  782.021051
4  2014.0  634.529206  768.210158
5  2015.0  608.767384  769.562901
6  2016.0  596.052016  759.487442
7  2017.0  594.172413  748.291289
8  2018.0  575.679798  726.688752

In [9]:
# write to csv
# df1.to_csv("data/stock_price.csv", index=False)
# df2.to_csv("data/no_shares.csv", index=False)

In [10]:
account_tab = pd.read_excel("assessment.xlsx", sheet_name="account_tab")

In [11]:
# account_tab.to_csv("data/account_tab.csv", index=False)

In [12]:
transaction_tab = pd.read_excel("assessment.xlsx", sheet_name="transaction_tab")

In [13]:
# transaction_tab.to_csv("data/transaction_tab.csv", index=False)